<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Restaurants</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about-us/">About Us<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
            <h3>About Us</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias cum doloribus eveniet harum ipsa modi ratione repellendus tempore totam! Cum, expedita illum libero natus nisi obcaecati officia suscipit vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis deserunt dolorem exercitationem nemo? Animi, aperiam cupiditate eaque ex facilis inventore maiores nihil nulla, pariatur quasi quidem sunt, totam vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi, harum hic molestias natus perferendis quidem quos recusandae voluptates. Alias aliquam asperiores eaque eos esse itaque nostrum perspiciatis quasi rerum?
            </p>
        </div>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>